<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Nat Martinez</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style-nat.css" rel="stylesheet">
</head>

<!-- menu  -->
<body>
  <div id="wrapper">
    <div class="overlay"></div>
       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="sidebar-wrapper">
         <ul class="nav sidebar-nav">
           <li class="sidebar-brand">
                    <a href="#">Portafolios</a></li>
           <li> <a href="../index.html">Home</a></li>
           <li><a href="../views/perfil1.html">Erika Huezo</a></li>
           <li><a href="../views/perfil2.html">Natalee Martínez </a></li>
           <li><a href="../views/perfil3.html">Maya Jiménez</a></li>
         </ul>
       </nav>

<div id="page-content-wrapper">
  <button type="button" data-toggle="offcanvas" class="hamburger is-closed"> 
    <span class="hamb-top"></span>
     <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
  </button>

<!-- 
  contenido -->


  <body>
    <div class="container-fluid nopadding">
    <header>
      <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
          <a href="#" class="navbar-brand nopadding">
            <img src="../img/logo-nat.png" class="logo" width="53px" height="38px">
          </a>

          <button type="button" class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-ex1-collapse">
          <span class="sr-only">Mensaje</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav pull-right w100">
            <li class="active">
              <a href="../index.html">Inicio</a></li>
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Contactos</a></li>
          </ul>
        </div>
      </nav>

 <section>
        <article id="myslide" class="carousel slide">
        
          <ol class= "carousel-indicators">
            <li class="carousel-active" data-target="#myslide" data-slide-to="0"></li>
            <li data-target="#myslide" data-slide-to="1"></li>
            <li data-target="#myslide" data-slide-to="2"></li> 
            <li data-target="#myslide" data-slide-to="3"></li> 
          </ol>

           <div class="carousel-inner">
             <div class="item active"> <img src="../img/banner0-nat.jpg" class="adaptar"> </div>
             <div class="item"> <img src="../img/baner1-nat.jpg" class="adaptar"> </div>
             <div class="item"> <img src="../img/banner2-nat.png" class="adaptar"> </div>
             <div class="item"> <img src="../img/banner3-nat.png" class="adaptar"> </div>
           </div>


           
             <a href="#myslide" class="left carousel-control" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
             </a>

             <a href="#myslide" class="right carousel-control" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
             </a>
        </article>

      </section>
    </header>

    <br>
    <br>

 <section>
      <article class="container">
        <div class="row">
          
          <div class="col-md-5">
            <img src="../img/foto-nata.jpg" class="adaptar img-fluid">
          </div>

          <div class="col-md-7">
            <hr class="section-header-spacer"></hr>
            <br>
            <h1 class="content-heading">Bio</h1>
            <br>
            <p class="lead">Hola! Soy Natalee Martinez, estudiante actual del área del diseño gráfico, a lo largo del tiempo he tenido la oportunidad de presentar mis trabajos en múltiples plataformas y exposiciones a nivel nacional, día a día busco perfeccionar mi trabajo y explorar nuevas áreas como el diseño tridimensional y la animación. </p>
          </div> 

        </div>

        <div class="row">
          <div class="col-md-7">
            <hr class="section-header-spacer"></hr>
            <br>
            <h1 class="content-heading">Mis trabajos!</h1>
            <br>
            <p class="lead">Lo que busco con mis trabajos es transmitir un mensaje o crear alguna escena algo que los convierta en unicos siempre mezclo el realismo con un toque de fantasia predominando como mi favorita una paleta de tonos frios y formas naturalistas... </p>
          </div> 

          <div class="col-md-5">
            <img src="../img/ilustracion-editorial.jpg" class="adaptar img-fluid">
          </div>
        </div>


</article>

</section>
     

    <br>
    <br>

<div class="cuerpo2">
<div class="row mb-4">
<div class="col-md-4">
  <div class="card text-center">
    <img src="../img/diseno-nat.jpg" class="adaptar img-fluid">
    <div class="card-body">
      <h4>Diseño Grafico</h4>
      <p class="texto-p">graphic design</p>
      <br>
      <p>Afiches, Brouchure, Diseño de marca y todo lo relacionado a la publicidad desarrollado a travez de software especializados.</p>
      <br>
      <a href="#">Ver galeria</a>
      <br>
    </div>
    
  </div>
</div>

<div class="col-md-4">
  <div class="card text-center">
    <img src="../img/ilustracion_nat.jpg" class="adaptar img-fluid">
    <div class="card-body">
      <h4>Ilustarción digital</h4>
      <p class="texto-p">digital illustration</p>  
      <br> 
      <p>Ilustraciones creadas de manera digital en programas como photoshop, paint tool sai; cada una con diferentes tematicas.</p>
      <br>
      <a href="#">Ver galeria</a>
      <br>
    </div>
    
  </div>
</div>

<div class="col-md-4">
  <div class="card text-center">
    <img src="../img/3d-nat.jpg" class="adaptar img-fluid">
    <div class="card-body">
      <h4>Diseño tridimensional</h4>
      <p class="texto-p">three-dimensional design</p>
      <br>
       <p>Diseños tridimensionales modelados y texturizados en software como maya 3d, blender, substance painter.  </p>
       <br>
      <a href="#">Ver galeria</a>
      <br>
    </div>
    
  </div>
</div>

</div>
</div>




</div>        

  <footer class="py-5 bg-dark">
      <div class="">
        <p class="m-0 text-center text-white">Copyright &copy; Nat Martinez-Colectivo NEM</p>
      </div>

  </footer>
        </div>

    </div>



 <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
