<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
 <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Portafolios
                    </a>
                </li>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="#">Erika Huezo</a>
                </li>
                <li>
                    <a href="#">Natalee Martínez</a>
                </li>
                <li>
                    <a href="#">Maya Jiménez</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
                  <span class="hamb-middle"></span>
                   <span class="hamb-bottom"></span>
            </button>
           

  <body>
 <section>
   <article id="myslide" class="carousel slide">
      <ol class="carousel-indicators">
        <li class="active" data-target="#myslide" data-slide-to="0"></li>
        <li data-target="#myslide" data-slide-to="1"></li>
        <li data-target="#myslide" data-slide-to="2"></li>
        <li data-target="#myslide" data-slide-to="3"></li>
      </ol> 
      <div class="carousel-inner">
        <div class="item active"> <img src="img/BN3.jpg" class="adaptar"> </div>
         <div class="item"> <img src="img/BN4.jpg" class="adaptar"></div>
          <div class="item"> <img src="img/BN2.jpg" class="adaptar"></div>
           <div class="item"> <img src="img/BN1.jpg" class="adaptar"></div>
      </div>
      <a href="#myslide" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a href="#myslide" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

   </article>
</section>


</header>
<section class="content-section-a">
  <article class="container">
    <div class="row">
      <div class="col-md-7">

        <hr class="section-heading-spacer"></hr>
        <h2 class="section-heading nomargin">Maya Jiménez</h2>
        <p class="lead">Diseño Gráfico, Fotografía, Ilustración & Diseño Editorial</p>
        <br>
          <h2 class="section-heading"> Realización de Mock Up, Pringles Pin-Up Edition</h2>
        <br>
        <p class="lead">En este trabajo de cátedra, se nos pidio realizar un refresh de la marca "Pringles" hacerla más atractiva para la temporada, innovadora etc, pin-up edition nace con la intención de recrear una imagen llamativa y "retro"</p>
      </div>
       <div class="col-md-5"> 
       <img src="img/MockUpprin.jpg" class="img-fluid">
     </div>
    </div>
    </article>
</section>
    <section class="content-section-b">
  <article class="container">
    <div class="row">
       <div class="col-md-5">
       <img src="img/Yisuscraist.jpg" class="img-fluid">
     </div>
      <div class="col-md-7">
        <hr class="section-heading-spacer"></hr>
        <br>
          <h2 class="section-heading">Ilustres Love</h2>
        <br>
        <p class="lead">Este proyecto fotográfico personal nace bajo la inspiración y belleza del Cementerio General "Los Ilustres", su arquitectura, escultura retrata lo mejor del arte a nivel turistico y simetrico, plasmando con una interevención originalidad y hermosura que conforman dicho luchar<p>
      </div>
      
    </div>
    </article>
</section>

<section class="content-section-a">
  <article class="container">
    <div class="row">
      <div class="col-md-7">
        <hr class="section-heading-spacer"></hr>
        <br>
          <h2 class="section-heading">Botero</h2>
        <br>
        <p class="lead"> Ilustración inspirada en los famosos cuadros de Fernando Botero, dandole un toque personal y "tropical".
      </div>
       <div class="col-md-5">
       <img src="img/Boterita.jpg" class="img-fluid">
     </div>
    </div>
 <br>

<div class="row mb-4">
<div class="col-md-4">
  <div class="card text-center">
    <img src="img/Micki.jpg" class="adaptar img-fluid">
    <div class="card-body">
      <h4>Jurassic Girl</h4>
      <p class="texto-p">Illustration</p>
      <br>
      <p>Ilustración personal, realizado como un "Inktober" del año 2016, que termino siendo un proyecto digital</p>
    </div>
    
  </div>
</div>

<div class="col-md-4">
  <div class="card text-center">
    <img src="img/Cadejis.jpg" class="adaptar img-fluid">
    <div class="card-body">
      <h4>Catálogo Cadejo</h4>
      <p class="texto-p">Diseño gráfico e Ilustración</p>   
      <p>Este proyecto de cátedra consistió en la elaboración de un catálogo de algo que nos gustara o atrajera, en este caso cerveza Cadejo fue elegida para este proyecto ilustrativo mostrando las cervezas de temporada</p>
    </div>
    
  </div>
</div>

<div class="col-md-4">
  <div class="card text-center">
    <img src="img/songo .jpg" class="adaptar img-fluid">
    <div class="card-body">
      <h4>Cuento Pop-Up "Song of the Sea"</h4>
      <p class="texto-p"> Editorial Design</p>
       <p>Este cuento, formo parte de la serie diseño editorial, en la cual consistió en la realización de un cuento infantil, ya fuese existente o retomando uno famoso, en este caso Song of the Sea, es un cuento que narra una antigua leyenda Irlandesa, la cual fue retomada de la pelicula con el mismo nombre</p>
    </div>
    
  </div>
</div>

</div>
</div>                      
            <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Colectivo NEM</p>
      </div>



      <!-- /.container -->
    </footer>
        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
